.footer{
    background-color: grey;
    color: whitesmoke;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    text-shadow: 1px 1px black;
    justify-content: space-around;
}
.footer img{
    height: 30px;
    mix-blend-mode: color-burn;
}