.header{
   
    display: flex;
    height: 40px;
    align-items: center;
    background-color: grey;
    color: white;
    /* box-shadow: 4px 4px rgb(138, 161, 236); */
    text-shadow: 1px 1px black;
}
.title{
    margin-left: 16px;
}
.img{
    height: 20px;
}
.cartContainer{
    margin-left: 600px;
    background-color:grey;
    color: white;
    text-shadow: 1px 1px black;
    border: 2px solid grey;
    border-radius: 14px;
}
.cartContainer:hover{
    /* background-color: rgb(106, 106, 114); */
    color: greenyellow;
   
}
.section{
    display: flex;
    color: white;
    align-items: center;
    text-align: center;
    margin-left: 60px;
   padding: 3px 3px;
   justify-content: space-between;
   text-decoration: none;
 
   /* color: greenyellow; */
}
.section:hover{
    color: red;
    /* background-color: rgb(29, 67, 192); */
    border-radius: 12px;
    /* text-shadow: none; */
}
.cartItems{
    
    /* text-shadow: none; */
    border-radius: 6px;
    border: 2px solid rgb(226, 14, 14);
    background-color: red;
    margin-left: 3px;
}

