.titleHeading{
    /* border: 2px solid red; */
    /* background-color: rgb(161, 155, 155); */
    color:white;
    margin-top:5px ;
    height: 130px;
    display: flex;
    align-items: center;
    text-align: center;
   
}
.titleHeading h1{
    margin-left: 500px;
    text-shadow: 1px 1px black;
    color: orangered;
    font-weight: bold;
}